/*
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

*/
/* WebHome.css */

.mainpage {
  background-color: #1b4235;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.div {
  background-color: #1b4235;
  height: 832px;
  width: 1280px;
}

/* .group {
  height: 66px;
  left: 543px;
  position: absolute;
  top: 50px;
  width: 197px;
} */

.group-2 {
  display: flex;
  flex-direction: column; /* Adjusted to column layout */
  align-items: center;
  height: auto; /* Removed absolute positioning height */
  left: 383px;
  position: absolute;
  top: 0;
  width: 518px;
}

.text-wrapper-2 {
  color: #edd3c5;
  font-family: "Lao Sans Pro-Regular", Helvetica;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
  width: 514px;
  margin-top: 20px;
}

.text-wrapper-3 {
  color: #edd3c5;
  font-family: "Rozha One", Helvetica;
  font-size: 80px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
  width: 513px;
  top: -200px;
}

.main-pic {
  width: 500px;
  height: auto;
  margin-top: 20px;
}

.LoginButton {
  width: 200px;
  height: 30px;
  cursor: pointer;
  background-color: #edd3c5;
  margin-top: 40px;
  font-size: 16px;
  color: #1b4235;
}
