body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #1b4235; 
}

.login {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.login .div {
    background-color: #1b4235;
    height: 832px;
    position: relative;
    width: 1280px;
}

.login .group {
    height: 644px;
    left: 368px;
    position: absolute;
    top: 94px;
    width: 553px;
}

.login .overlap {
    background-color: #f5e3db;
    height: 644px;
    position: relative;
    width: 545px;
    bottom: -200px;
}

.login .text-wrapper {
    color: #1b4235;
    font-family: "Inter", Helvetica;
    font-size: 30px;
    font-weight: 400;
    height: 51px;
    left: 127px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 308px;
    width: 289px;
}

.login .overlap-group {
    height: 61px;
    left: 0;
    position: absolute;
    top: 583px;
    width: 545px;
}

.login .create-account {
    color: #1b4235;
    font-family: "Inter", Helvetica;
    font-size: 30px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 10px;
    width: 545px;
}

.login .text-wrapper-2 {
    color: #1b4235;
    font-family: "Lao Sans Pro-Regular", Helvetica;
    font-size: 60px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    text-shadow: 0px 4px 4px #00000040;
    top: 34px;
    width: 545px;
}

.login .img {
    height: 72px;
    left: 112px;
    position: absolute;
    top: 359px;
    width: 322px;
}

.login .overlap-group-wrapper {
    height: 66px;
    left: 178px;
    position: absolute;
    top: 469px;
    width: 197px;
}

.login .overlap-group-2 {
    height: 66px;
    position: relative;
    width: 195px;
    bottom: -450px;
    right: -180px;
}

.login .rectangle-2 {
    background-color: #1b4235;
    height: 66px;
    left: 1px;
    position: absolute;
    top: 0;
    width: 194px;
}

.login .text-wrapper-3 {
    color: #f5e3db;
    font-family: "Lao Sans Pro-Regular", Helvetica;
    font-size: 35px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 9px;
    width: 195px;
}

.login .text-wrapper-4 {
    color: #1b4235;
    font-family: "Inter", Helvetica;
    font-size: 30px;
    font-weight: 400;
    height: 51px;
    left: 138px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 148px;
    width: 289px;
}

.login .rectangle-3 {
    height: 72px;
    left: 111px;
    position: absolute;
    top: 199px;
    width: 322px;
}

.login .overlap-wrapper {
    height: 136px;
    left: 49px;
    position: absolute;
    top: 26px;
    width: 136px;
}

.login .overlap-2 {
    height: 136px;
    position: relative;
    width: 132px;
}

.login .text-wrapper-5 {
    color: #f5e3db;
    font-family: "Rozha One", Helvetica;
    font-size: 50px;
    font-weight: 400;
    left: 550px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    width: 132px;
}

.login .text-wrapper-6 {
    color: #f5e3db;
    font-family: "Rozha One", Helvetica;
    font-size: 50px;
    font-weight: 400;
    left: 550px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 43px;
    width: 132px;
}